.productImg {
    width: 100%;
    max-height: 90vh;
    height: 100%;
    object-fit: contain;
    @media (min-width: 320px) and (max-width: 768px) {
        max-height: 40vh;
    }
}

.filterContainer {
    width: 50%;
    margin: 30px 0;
    @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
    }
}

.filterColor {

    border-radius: 50%;
    outline: none;
    height: 100%;
    width: 100%;
    width: 23.3px;
    height: 23.7px;

}

.filterColorContainer{
    border: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    // height: 20px;
    // width: 20px;
}



.filterColorContainerActive{
    border:2px solid teal;
    border-radius: 50%;

    
}

.amount {
    padding: 1rem;
    font-size: 1rem;
    max-width: 30px;
    max-height: 30px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid teal;
}

.addToCartBtn {
    border: 2px solid teal;
    padding: 6px;
    background-color: white;
}

.addContainer {
    width: 50%;
    font-weight: 500;
    @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
    }
}
