.NewsLetterContainer{
    height: 60vh;
    background-color: #fcf5f5;
}

.inputContainer{
    max-height: 40px;
    height: 100%;
    width: 60%;
    background: white;
    button{
        background-color: teal;
    }
    @media (min-width: 320px ) and (max-width:768px) {
        width: 80%;
    }
}

