

.navContainer{
    color: black;
    display: flex;
    justify-content:space-between ;
    max-height: 40px;
    height: 100%;
    
}

input[type="text"], textarea {

    background-color : transparent; 

  
  }

  

.navItemsStart{
    flex: 1;
    align-items: center;
}

.navItemsCenter{
    flex:1
}

.navItemsRight{
    flex:1
    
}

.inputWrapper{
    align-items: center;
    border: 1px solid rgb(201, 190, 190) ;
    border-radius: 5px;
}


.searchBar{
    max-width: 180px;
    width: 100%;
}

.accountOptions{
    position: absolute;
    z-index: 2;

    height: 0;
    transition: 0.5s;
    justify-self: center;
    transform: translateY(40px);

}

.accOption{
    transform: translateY(-30px);
    background-color: gray;
    transition: 0.5s;
    visibility: hidden;

}
.accountIcon:hover .accOption{
    visibility: visible;
    transform: translateY(-30px);
}





.accountOptions h1 {
    font-weight: 400;
   

}

