
.footeritem{
    flex: 1;
    padding: 20px;
}

.socialIcon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerUl li {
    width: 50%;
    margin-bottom: 10px;
}

