.registerContainer{
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 128,.5), rgba(255,255,255,.5)), url(../../Assets/registerBg.png);

    @media (min-width: 320px ) and (max-width:768px) {
        background: linear-gradient( rgba(0, 0, 128,.5), rgba(255,255,255,.5)), url(../../Assets/registerPhoneBg.jpg);
        background-size: cover;
    }
    
}

.loginContainer{
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 128,.5), rgba(255,255,255,.5)), url(../../Assets/loginBg.png);
    background-size: cover;     
    @media (min-width: 320px ) and (max-width:768px) {
        background: linear-gradient( rgba(0, 0, 128,.5), rgba(255,255,255,.5)), url(../../Assets/loginPhoneBg.jpg);
        background-size: cover;
    }
}

.registerWrapper{
    width: 40%;
    padding: 20px;
    background-color: white ;
    @media (min-width: 320px ) and (max-width:768px) {
        width: 90%;
    }
}

.loginWrapper{
    width: 40%;
    padding: 20px;
    background-color: white ;
    @media (min-width: 320px ) and (max-width:768px) {
        width: 75%;
    }

}


.registerForm input{
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0 0;
    padding: 10px;
    border-bottom: 1px solid gray;
    outline: none;
}

.loginForm input{
    flex: 1;
    min-width: 40%;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid gray;
    outline: none;
}

.createBtn{

    width: 100%;
    padding: 15px 20px;
    background-color: navy !important;
    color: white;
    border: none;
    
}



