.registerContainer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 128, 0.5), rgba(255, 255, 255, 0.5)), url(../../Assets/registerBg.png);
    background-size: cover;

    @media (min-width: 320px) and (max-width: 768px) {
        background: linear-gradient(rgba(0, 0, 128, 0.5), rgba(255, 255, 255, 0.5)),
            url(../../Assets/registerPhoneBg.jpg);
    }
}

.registerImg{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    
}

.imgInp{
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.loginContainer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 128, 0.5), rgba(255, 255, 255, 0.5)), url(../../Assets/loginBg.png);
    background-size: cover;
    @media (min-width: 320px) and (max-width: 768px) {
        background: linear-gradient(rgba(0, 0, 128, 0.5), rgba(255, 255, 255, 0.5)), url(../../Assets/loginPhoneBg.jpg);
        background-size: cover;
    }
}

.registerWrapper {
    width: 40%;
    padding: 20px;
    background-color: white;
    @media (min-width: 320px) and (max-width: 768px) {
        width: 90%;
    }
}

.loginWrapper {
    width: 40%;
    padding: 20px;
    background-color: white;
    @media (min-width: 320px) and (max-width: 768px) {
        width: 75%;
    }
}

.registerForm input {
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0 0;
    padding: 10px;
    border-bottom: 1px solid gray;
    outline: none;
}

.loginForm input {
    flex: 1;
    min-width: 40%;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid gray;
    outline: none;
}

.createBtn {
    width: 100%;
    padding: 15px 20px;
    background-color: navy !important;
    color: white;
    border: none;
}

// PROFILE PAGE------------------------------------------------------------------------

.ProfilePage {
    min-height: 100vh;
    min-width: 100%;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.ProfilePageWrapper {
    width: 100%;
    height: 100%;
    clip-path: ellipse(82% 58% at 51% 35%);
    color: white;
    background-size: cover !important;
}

.profilePicture {
    width: 300px;
    height: 300px;
    background-color: transparent;
    object-fit: cover;
    border-radius: 5px;
}

.userName {
    font-size: 3rem;
    max-width: 300px;
}
.imageInput {
    max-width: 200px;
    transform: translateX(-160%);
    @media (min-width: 320px) and (max-width: 640px) {
        transform: translateX(0%);
    }
}

.profileInput {
    border: none;
}
textarea:focus,
input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
}
input[type="text"],
textarea,
input[type="email"] {
    background-color: transparent;
}

.editBtn {
    top: 11%;
    right: 25%;
    @media (min-width: 320px) and (max-width: 640px) {
        top: 30%;
        right: 12%;
    }
}
.formBtn {
    background: rgba(0, 0, 0, 0.5) !important;
    border: 3px #002661 solid;
    padding: 10px;
    border-radius: 5px;
}
