
.registerContainer{
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 128,.5), rgba(255,255,255,.5)), url(../../Assets/registerBg.png);
    
}

.registerWrapper{
    width: 40%;
    padding: 20px;
    background-color: white ;
}

.registerForm input{
    flex: 1;
    min-width: 40%;
    margin: 20px 10px;
    padding: 10px;
    border-bottom: 1px solid gray;
    outline: none;
}

.createBtn{
    width: 40%;
    padding: 15px 20px;
    background-color: navy ;
    color: white;
    border: none;
    
}
