@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  height: 100%;
}
body {
   min-height: 100vh;
   }

:root {
  margin: 0;
  height: 100%;
  width: 100%;
  font-synthesis: none;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1{
  font-size: 16px;
}

#root {
  height: 100%;
  width: 100%;
}

$mainFont: "Urbanist", sans-serif;
