    

.Container{
    width: 100%;
    height: 100%;
    border: 1px solid orange ;
    display:flex;
    justify-content: center;

}

.anntContainer{
    width: 100%;
    height: 100%;

}

.annWrapper{
    transition: 2s ease;
    width: 300%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
}

.annItem{
    flex-basis: 33.3%;
    flex-shrink: 0;
    width: 33.3%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.annTrans{
    transition: none;

}


